<footer class="container">
    <div class="contact-info">
        <h1>Контакты:</h1>
        <p>Много канальный телефон: 8-800-000-00-00</p>
        <p>Email: <a href="mailto:info@ecodjango.com">info@ecodjango.com</a></p>
        <p>Юридический Адрес: ул. Экологическая, д. 10, г. Экогород</p>
    </div>
    <div class="social-links">
        <p>Следите за нами в социальных сетях:</p>
        <a href="https://www.instagram.com/ecodjango_official">Instagram</a>
        <a href="https://www.facebook.com/EcoDjango">Facebook</a>
        <a href="https://twitter.com/EcoDjango">Twitter</a>
    </div>
    <div class="copyright">
        <p>&copy; 2022 Компания ЭкоДжанго. Все права защищены.</p>
    </div>
</footer>