{% extends 'main/base.html'%}


{% block title%}

<title>Главная страница</title>

{% endblock %}

{% block content %}

  <h1>Главная страница</h1>
<div class="container">
  <p>"Добро пожаловать на сайт компании ЭкоДжанго - вашего надежного партнера в сфере экологически чистых решений! Мы заботимся о нашей планете и предлагаем широкий спектр услуг по утилизации и переработке отходов, а также продукции, способствующей снижению негативного воздействия на окружающую среду.\n\nНаша компания работает на рынке уже много лет и за это время накопила огромный опыт и экспертизу в области экологических технологий. Мы гордимся своей работой и стремимся к постоянному совершенствованию, чтобы предложить нашим клиентам только лучшие и инновационные решения.\n\nПрисоединяйтесь к нам и вместе мы сделаем мир чище и зеленее! Позаботьтесь о нашей планете сегодня, чтобы сохранить ее для будущих поколений!"</p>
</div>
{% endblock %}