<div class="nav">
        <ul class="list-unstyled">
            <li><a href="{% url 'index' %}" class="text-decoration-none text-dark">Главная</a></li>
            <li><a href="{% url 'about' %}" class="text-decoration-none text-dark">О нас</a></li>
            <li><a href="{% url 'contact' %}" class="text-decoration-none text-dark">Контакты</a></li>
            <li><a href="{% url 'news' %}" class="text-decoration-none text-dark">Новости</a></li>
            <li><a href="{% url 'new_index' %}" class="text-decoration-none text-dark">Новостая страница</a></li>
            <li><a href="{% url 'add_news' %}" class="text-decoration-none text-dark">Добавить Новость</a></li>
        </ul>
</div>