{% extends 'main/base.html'%}

{% block title%}

<title>Новости - ЭкоДжанго</title>

{% endblock %}

{% block content %}

  <h1>Новость: "ЭкоДжанго запустил новую программу утилизации отходов"</h1>
 <p>Мы рады объявить о запуске новой программы по утилизации отходов от компании ЭкоДжанго. Теперь все наши клиенты могут сдавать различные виды отходов для их переработки и повторного использования.</p>
 <p>Мы стремимся к уменьшению экологического следа нашей деятельности и считаем, что утилизация отходов - важный шаг в этом направлении. Поэтому мы приглашаем всех желающих присоединиться к нашей программе и вместе с нами заботиться о нашей планете.</p>
<p>
    Не упустите возможность внести свой вклад в охрану окружающей среды и присоединитесь к программе утилизации отходов от ЭкоДжанго уже сегодня!
</p>
{% endblock %}